body {
    height: 100vh;
    width: 100vw;
}
#content {
    height: 90%;
    width: 100%;
    display: flex;
}
.cover-img, .cover-text {
    height: 100%;
    width: 50%;
} 
img {
    height: 100%;
    /* width: 100%; */
    object-fit: fill;
}
.cover-text {
    /* background-color: #160002; */
    background-image: linear-gradient(to right, #121212,#050000);
}
/* > img {
    width: 40vw;
    height: 80vh;
} */
/* #160002 */