@font-face {
    font-family: "Montserrat";
    src: url("../../Montserrat/Montserrat-VariableFont_wght.ttf");
}
.cover-text {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Montserrat;
}

.cover-text h1 {
    font-weight: bolder;
    color: #ffffff ;
    font-size: 50px;

}

.cover-text p {
    font-weight: bolder;
    font-size: 32px;
    color: #e78d26;

}