@font-face {
    font-family: "Montserrat";
    src: url("../../Montserrat/Montserrat-VariableFont_wght.ttf");
}
.menu-text {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    text-align: left;
    overflow: auto;
    overflow-wrap: break-word;
    justify-content: flex-start;
    align-items: start;
    padding: 2em 0 0 5em;
}

.menu-text div {
    margin:0 0 1em 0;
}
.menu-text h1 {
    font-weight: bolder;
    color: #ffffff ;
    font-size: 32px;

}

.menu-text ul li {
    font-weight: bolder;
    font-size: 18px;
    color: #e78d26;

}